<div class="wrapper" [hidden]="loading">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>

                        <div class="social-line text-center">
                            <a (click)="onFacebookLoginClick()" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form  #loginForm="ngForm">
                            <label>Email</label>
                            <input type="text" class="form-control" id="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" [(ngModel)]="login.email" placeholder="Email" name="email" #email="ngModel">

                            <label>Password</label>
                            <input type="password" class="form-control" id="password" required  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" [(ngModel)]="login.password" placeholder="Password" name="password" #password="ngModel">
                            <button  (click)="customerLogin()" class="btn btn-danger btn-block btn-round">Register</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                        <div style="display: block;margin-left: auto;margin-right: auto;">
                            <a (click)="loadHomePage()"> <img
                                    style=" display: inline-block; height:30px;cursor: pointer;"
                                    src='../assets/img/home-button.png'/> </a>
                            <a href="http://localhost:4200/signup"> <img
                                    style=" display: inline-block; height:30px;cursor: pointer;"
                                    src='../assets/img/sign-up.png'/> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="height: 650px;padding-top: 25%; margin:0 auto;" *ngIf="loading">
    <mat-spinner strokeWidth="3" [diameter]="50" mode='indeterminate' style="margin:0 auto;stroke: #673ab7;" ></mat-spinner>
    <span style="margin-left: 46%;">{{loading}}</span>
</div>
