<div class=" col-sm-12 form-row" [hidden]="loadProducts" style="margin-top: 20px">
    <div class=" col-sm-2 form-row" *ngIf="filters && filters.length>0">
        <div>
            <mat-card-title style="color:#2F4F4F "> Shopping Options</mat-card-title>
            <br/>
            <a style="color:red;cursor: pointer;" *ngIf="currentFillterValue.value" (click)="resetFilters()">Reset Filters </a>
            <div *ngFor="let fill of filters"
                 (click)="populateFilterName(fill.code)">
                <div class="col-sm-8">
                    <mat-form-field>
                        <mat-select  placeholder={{fill.name.toUpperCase()}} id="filterVale"  [(ngModel)]="currentFillterValue.value" >
                            <mat-option *ngFor="let filtersValue of fill.filterValues" [value]="filtersValue.value" (click)="populateFilterValue(filtersValue)" >
                                {{filtersValue.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </div>

    <div class=" col-sm-10 form-row">
        <div class="row col-sm-3" *ngFor="let product of categoryProducts"
             style="width: 425px;padding-left: 20px;padding-right: 20px ;cursor:pointer">
            <div class="card" (click)="populateProducts(product)">
            <span style="padding-left: 10px">
                {{product.sku}}
            </span>
                <span (click)="loadProductDetails(product.sku)">
                        <img style="height:250px; width:220px;"
                             src="http://localhost/apnaBazar/pub/media/catalog/product{{product.image}}"
                             alt="Washed Out"/>
                    </span>
                <strong style=" text-align: center;">
                    {{product.name}}
                </strong>
                <strong style=" text-align: center;">
                    {{product.price | currency:"&#8377;"}}
                </strong>
                <span class="row" style="padding-left: 44px;text-align: center;">
                   <span *ngFor="let color of product.colors" style="padding-right: 7px;padding-left: 7px">
                       <span>{{color.label}} <br/>
                   <span [ngStyle]="{ 'height': '25px',
                             'width': '25px', 'border-radius': '50%','display': 'inline-block','border': '1px solid #BADA55'}"
                         [style.background-color]="getColor(color.label)"></span>
                       </span>
            </span>
               </span>
                <span class="row" style="padding-left: 25px;text-align: center; margin-bottom: 10px;">
                   <span *ngFor="let size of product.sizes" style="padding-right: 7px;padding-left: 7px;">
                   <span [ngStyle]="{ 'height': '22px',
                             'width': '25px','display': 'inline-block','background-color': 'lavender'}" >{{size.label}}</span>
                       </span>
            </span>
                <span class="label label-info" style="margin: auto;margin-bottom: 10px;">add to Cart</span>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="height: 700px;padding-top: 25%; margin:0 auto;" *ngIf="loadProducts">
    <mat-spinner strokeWidth="3" [diameter]="50" mode='indeterminate'
                 style="margin:0 auto;stroke: #673ab7;"></mat-spinner>
    <span style="margin-left: 46%;">{{loadProducts}}</span>
</div>


