.scooter-container {
  width: 500px;
  text-align: center;
  margin: auto;
  position: relative;
  height: 230px;
  overflow: hidden;

  img {
    left: 0;
    position: absolute;
    margin: auto;
    width: 200px;
    top: 0;
    bottom: 0;
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  color: green;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
 th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
